.navigation {
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

#nav-logo {
  padding: 0 5px;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

#nav-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 20px;
  padding: 5px;
  font-size: var(--title-font-size);
  text-transform: uppercase;
  border-bottom: 1px solid;
  border-color: var(--secondary);
  border-radius: 5px;
  font-weight: 400;
  font-style: italic;
}
