#snippet-container {
}

#snippet-box {
  border: 1px solid;
  border-color: var(--primary);
  height: 300px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#snippet-title {
  text-transform: uppercase;
  color: var(--primary);
  font-weight: var(--title-weight);
  letter-spacing: 0.2rem;
  font-size: var(--subtitle-font-size);
}

#snippet {
}

.prettyprint {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
